.login-container {
    width: 100%;
    height: 100%;
    background: url('../../assets/lq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 25%;
    height: 80%;
    background: hsl(219, 39%, 15%);
    opacity: 0.7;
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 20%;
    background: url('../../assets/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.title {
    margin-top: -40px;
    font-weight: bold;
    font-family: "Oxanium", sans-serif;
    ;
}

label {
    color: white;
    margin-right: 150px;
}

#login-input {
    width: 250px;
    height: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: transparent;
    border: 1px solid white;
    color: #f9f9f9;
}

#login-input:focus {
    box-shadow: 5px 5px 5px black;
}

.captcha-container {
    width: 90%;
    height: 7%;
    /* background: #f9f9f9; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captcha {
    width: 40%;
    height: 100%;
    color: white;
    background: none;
    border: 1px solid white;
}

.captcha::placeholder {
    text-align: center;
}

.captcha-img {
    width: 40%;
    height: 100%;
    background: black;
}

.captcha-btn {
    width: 12%;
    height: 100%;
    background: url('../../assets/reload.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    transition: 1s;
}

.captcha-btn:hover {
    transform: rotate(360deg);
    border: 1px solid white;
}

.login-btn {
    width: 250px;
    height: 45px;
    background: #F40025;
    color: white;
    /* border: 1px solid #881022; */
}

.login-form>p {
    color: white;
}

.login-form>p>a {
    color: #f80025;
    font-weight: bold;
}
a {
    cursor: pointer;
}

.hadAccount {
    margin-bottom: 30px;
}