.item {
    width: 300px;
    height: 200px;
    background-color: #121315;
    position: relative;
    margin-top: 6px;
}

.item:hover {
    border-right: 3px solid #ADFF2F;
}

.item>p {
    color: white;
    position: absolute;
    font-family: "Kanit", serif;
}

.name {
    left: 10px;
    top: 100px;
}

.price {
    top: -10px;
    left: 10px;
}

.producer {
    left: 10px;
    top: 125px;
    cursor: pointer;
}

.desc {
    left: 10px;
    top: 150px;
    cursor: pointer;
}

.producer:hover,
.desc:hover {
    color: #EF476F;
}