#header-container {
    width: 100%;
    height: 30%;
}

#tool-bar {
    width: 96%;
    height: 7.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 30px;
}

#banner {
    width: 96%;
    height: 60%;
    background: url('../../assets/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 30px;
}

.search-icon {
    color: #6dd3ce;
    position: absolute;
    font-size: 20px;
    left: 10px;
    top: 30px;
}

.input-search {
    width: 300px;
    border: none;
    background: none;
    border-radius: 2px;
    padding-left: 40px;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.input-search::placeholder {
    color: #6dd3ce;
}

.name {
    color: #6dd3ce;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 5px;
}

.avatar {
    width: 55px;
    height: 55px;
    /* background: red; */
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
}

.tool-container{
    color: #a1a1a1;
    display: flex;
    height: 100%;
    width: 15%;;
    justify-content: space-between;
    align-items: center;
}

.bell-icon,.cart-icon{
    font-size: 20px;
    color: #6dd3ce;
    margin-top: 10px;
}

