#header-container {
    width: 100%;
    height: 30%;
}

#tool-bar {
    width: 96%;
    height: 7.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu {
    font-size: 50px;
    color: white;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.menu:hover {
    background-color: rgb(129, 129, 129);
    border-radius: 10px;
}

.menu-name {
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
    margin-left: 10px;
}

.nav-horizional {
    font-size: 25px;
    color: white;
}

.nav-horizional>p {
    margin-bottom: 7px;
    margin-left: 20px;
    font-family: "Teko", serif;
    font-size: 35px;
    cursor: pointer;
}

.nav {
    width: 20%;
    height: 85%;
    position: absolute;
    z-index: 1;
    top: 117px;
    transition: 1s;
}

.video {
    position: absolute;
    z-index: 0;
}

.decoration {
    width: 2px;
    height: 60%;
    background-color: #ADFF2F;
    margin-left: 30px;
}

.input {
    width: 300px;
    height: 45px;
    background-color: transparent;
    margin-left: 50px;
    border-radius: 20px;
    border: 1px solid #ADFF2F;
    padding-left: 45px;
}

.input::placeholder {
    color: white;
}

.input:focus {
    outline: none;
    border: 1px solid #EF476F;
}

.search-icon {
    font-size: 25px;
    position: absolute;
    left: 300px;
}

.input-search {
    width: 300px;
    border: none;
    background: none;
    border-radius: 2px;
    padding-left: 40px;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.input-search::placeholder {
    color: #6dd3ce;
}

.name {
    color: #6dd3ce;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 5px;
}

.avatar {
    width: 55px;
    height: 55px;
    /* background: red; */
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-repeat: no-repeat;
    background-size: contain;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

.web-name {
    font-weight: bold;
    font-family: "Tiny5", sans-serif;
    position: absolute;
    right: 600px;
    z-index: 3;
}

.last-letter {
    position: absolute;
    font-size: 80px;
    top: -25px;
    right: -40px;
    transform: rotate(20deg);
}