/* Container to center the card */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../../../assets/background7.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.nav {
    width: 20%;
    height: 84.8%;
    position: absolute;
    z-index: 2;
    top: 117px;
    transition: 1s;
}

/* Card styling */
.card {
    width: 650px;
    height: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: yellowgreen;
    transition: transform 0.2s ease;
    background-color: rgb(0, 0, 0);
    border-right: 15px solid #DF2C4D;
    border-top: 15px solid #99C22E;
    border-top-right-radius: 50px;
    margin-top: 100px;
    margin-left: 250px;
    opacity: 0.8;
}

.card:hover {
    /* transform: scale(1.05); */
}

/* Header styling */
.header {
    text-align: center;
    margin-bottom: 30px;
}

.nickname {
    font-size: 1.8em;
    font-weight: bold;
    color: #4a90e2;
}

.username,
.balance {
    font-size: 1em;
    color: #666;
}

/* Content styling */
.content {
    width: 100%;
    margin-bottom: 30px;
}

.amountOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.amount {
    width: 100px;
    padding: 15px;
    text-align: center;
    background: #f0f0f0;
    cursor: pointer;
    transition: 0.3s, transform 0.2s;
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
}

.amount:hover {
    background: linear-gradient(to right, #f2709c, #ff9472);
    /* box-shadow: 3px 3px 5px #31292D, -1px -1px 5px #ffffff; */
    transform: translateY(-15px);
}

.selected {
    background: linear-gradient(to right, #f2709c, #ff9472);
    /* box-shadow: 8px 8px 16px rgba(74, 144, 226, 0.4), -8px -8px 16px rgba(74, 144, 226, 0.4); */
}

/* Confirm button styling */
.confirmButton {
    width: 40%;
    padding: 15px;
    font-size: 1.1em;
    color: black;
    border: none;
    background-color: greenyellow;
    border-radius: 3px;
    cursor: pointer;
    /* box-shadow: 8px 8px 16px rgba(74, 144, 226, 0.4), -8px -8px 16px rgba(74, 144, 226, 0.4); */
    transition: background 0.3s ease, transform 0.2s;
    margin-top: 60px;
}

.confirmButton:disabled {
    background: red;
    cursor: not-allowed;
    box-shadow: none;
}

.confirmButton:hover:not(:disabled) {
    background: greenyellow;
    transform: translateY(-3px);
}